:root {
    --black-light: #221f1f;
    --black: #0e0d0d;
    --white: #ffffff;
    --dark-blue: #001864;
    --blue: #0b2ea0;
    --green: #4fe27bee;
    --gray: #146214ee;
    --background: #edf1edee;
}
