* {
    margin: 0;
}

:root {
    --gray: #bdbdbd;
    --blue: #0000ff;
    --black: #3a3a3a;
    --white: #ffffff;
}

body {
    background: var(--gray);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
    margin: auto;
}

.cabecalho {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

#title,
.subtitle,
.post-title {
    color: var(--black);
    padding: 10px;
}

#title {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: var(--blue);
}

.subtitle {
    font-size: 30px;
}

.header-image {
    width: 100px;
    padding: 10px;
    border-radius: 50%;
}

.post-title {
    font-size: 26px;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
}

.post {
    background: var(--white);
    padding: 10px;
    border: 3px solid var(--black);
    border-radius: 10px;
    margin: 10px;
}

.post-content {
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post-image {
    margin-bottom: 15px;
    border-radius: 20px;
    width: 100%;
}

footer {
    padding: 10px;
}

footer ul {
    padding: 0;
    margin: 15px;
    list-style-type: "\1f44D";
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer ul li {
    padding: 5px;
}
